.Assistant-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    max-width: 900px;
    margin: 2rem auto;
}

.Assistant-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Assistant-section h1 {
    color: #333;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.Assistant-ask-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.Assistant-response,
.Assistant-ask-form input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
	font-size: 1rem;
}

.Assistant-instructor-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.Assistant-instructor-tools h2 {
    color: #333;
    font-size: 1.8rem;
}

.Assistant-instructor-tool-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.Assistant-instructor-tool-item {
    display: flex;
	font-size: 1rem;
    overflow: hidden;
}

.Assistant-instructor-tool-item label {
    padding: .75rem;
    border-radius: .25rem;
    border: 1px solid #ccc;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: 0.1s all;
    user-select: none;
}

.Assistant-instructor-tool-item input:checked + label {
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
}

.Assistant-response-placeholder {
    opacity: 0.5;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}